extends layout

block head-scripts
	link(rel='stylesheet' href='/style_sheets/landing.css')

block content
	.jumbotron
		img.main-logo(src='/imgs/ww-logo-web-small.png')
	.container
		.row
			.col-md-offset-2.col-sm-offset-2.col-md-8.col-sm-8.middle
				button#geo-setter.btn SET CURRENT LOCATION
	#success-notification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header.middle
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;                   
					h4.modal-title Success!
				.modal-body.middle
					h4 Your location has been successfully recorded! Now go slang some sammies!

block body-scripts
	script(src='/scripts/landing.js')