doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title White Whale Ice Cream Sandwiches | Geo-Locator
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
		block head-scripts

	body
		block content

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
		block body-scripts
		